@import "base/typo";
@import "utilities/variables";
@import "base/reset";
@import "layout/header";
@import "layout/main";
@import "layout/footer";

@mixin estiloTexto($colorText, $tamanioTexto, ) {
    font-size: $tamanioTexto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: $colorText;
    
}

h1{
    @include estiloTexto(rgb(162, 234, 247), 30px, )
}

.nosotros1{
    color: black;
    font-size: 30px;
    background-color: rgb(182, 226, 243);
    padding-top: 20px;
    padding-bottom: 30px;

}
.nosotros2{
    @extend .nosotros1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
}

@media only screen and (max-width: 992px){
    li{
        color: black;
        font-size: 10px;
        width: 60%;
        text-align: center;
        border-right: 1px solid black;
    }

    
    .imgLogo{
        width: 50px;
        image-orientation: center;
        animation-name: efecto;
        animation-duration: 4s;
    }
    @keyframes efecto{
        0%{
            width: 50px;
            transform: rotate(30deg);
        }
        100%{
            width: 50px;
        }
    }
}

@media only screen and (max-width: 770px){
    header{
        width: 100%;
        height: 120px;;
        background-color: white;
        display: flex;
        justify-content: space-between;
        
    }
    .imgLogo{
        width: 50px;
        image-orientation: center;
        animation-name: efecto;
        animation-duration: 4s;
    }
    @keyframes efecto{
        0%{
            width: 50px;
            transform: rotate(30deg);
        }
        100%{
            width: 50px;
        }
    }


    nav{
        width: 85%;
        ul{
        margin-left: 10px;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        height: 20%; 
        justify-content: space-between;   
        }
        
        li{
        color: black;
        font-size: xx-small; 
        width: 50%;
        height: 10px;
        text-align: center;
        border-right: 1px solid black;
        }
    }

    
    main{
        background-color:rgb(173, 207, 240);
        height: 1000px;
        display: flex;

    }
    footer{
        width: 100%;
        background-image: linear-gradient( rgb(61, 184, 255), rgb(168, 205, 243) );
        color: grey;
        margin: auto;
        height:350px ;
    
        div footer{
            width: 300px;
        }
        .contenedorCaja{
            width: 100%;  
            margin:auto; 
        }
        .contenedor1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
    
            .columna1 h1{
            font-size: 5px;
            padding-left: 10px;
            }
    
            .row label {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            }
    
            .row img{
            width: 30px;
            height: 10px;
            margin-top: 10px;
            }
            .row label{
            margin-left: 20px;
            margin-top: 5px;
            }
     
            .columna2 h1{
            font-size: 5px;
            }
    
            .row2{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
           
            }
            .row2 img{
            width: 20px;
            height: 20px;
            }
            .row2 label{
            margin-left: 20px;
            max-width: 80;
            margin-top: 5px;
            }
        }
        .contenedor2{
            width: 100%;
            background-image: linear-gradient( rgb(61, 184, 255), rgb(168, 205, 243) );
            display: flex;
            flex-direction: column;
            padding: 20px;
        
            .copyright{
            color:black;
            }
            .informacion{
            color: black;
            }
        }
    }
    
    .nosotros1{
        color: black;
        font-size: 20px;
        background-color: rgb(182, 226, 243);
        padding-top: 20px;
        padding-bottom: 30px;
    
    }
    .nosotros2{
        color: black;
        font-size: 20px;
        background-color: rgb(182, 226, 243);
        padding-top: 20px;
        padding-bottom: 30px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
    }
    .contactoMain{
        h1{
        font-size:x-small;
        }
        form{
            font-size: x-small;
            
        }
    }




}