footer{
    font-family: $font-principal;
    h1{
        color: $tipografia-color;
    }
    label{
        color:$tipografia-color;
    }
    .contenedor1 label{
        color: $tipografia-color;
    }

}
